body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: poppins;
    text-align: left;
}

.navbar{
    background: rgb(0,52,89);
    background: linear-gradient(0deg, rgba(0,168,232,1) 0%, rgba(0,52,89,1)  100%);  
    padding: 0;
    padding-left: 2.5%;
    margin-bottom: 1%;
}
.parent{
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.imagenes img{
    border: 2px solid black;
    border-radius: 25px;
    height: 350px; 
    width: 250px;
}

.image-container {
    position: relative;
    width: 250px;
    height: 350px;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6); opacity: 50%;
}

.logo-saferoad {
    width: 100px;
}

.logo-uade-footer {
    height: 10vh;
    width: 17vh;
}

footer {
    background-color: #00a8e8;
    bottom: 0;
    width: 100%;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    text-align: center;
    font-size: 9px;
    margin-top: -0.5rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.titulo-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.titulo-juego h1, h1 {
    margin-bottom: 0;
    color: #007ea7;
    text-align: center;
}

.titulo-juego button {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    margin-left: 1.25rem;
}

.titulo-juego button:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 116px; opacity: 1}
  }

#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 999;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

#instrucciones-modal {
    position: fixed;
    background-color: #fefefe;
    padding: 2rem;
    padding-top: 1.2rem;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: grid;
    z-index: 1000;
    right: 5%;
    left: 5%;
    border-radius: 0.5rem;
}
  
#instrucciones-modal.invisible {
    display: none;
}
  
#instrucciones-modal h2 {
    text-align: center;
    color: #007ea7;
    padding-bottom: 0.625rem;
}

#instrucciones-modal p {
    text-align: center;
}

#instrucciones-modal li {
    list-style: url('../../img/car-front-fill.svg');
    padding-bottom: 0.125rem;
    margin: 0 1.25rem;
}
  
#instrucciones-modal ul {
    padding: 1.25rem 0;
}

#btn-jugar {
    border-radius: 0.5rem;
    border: 2px solid black;
}

.tablero-juego {
    margin: 50px;
}